<!DOCTYPE html>
<html>
  <head>
    <header>MusicApp</header>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if logged_in? %>
    <form action="<%= session_url %>" method="post">
      <input type="hidden"
      name="authenticity_token"
      value="<% form_authenticity_token %>">

      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="sign-out">
    </form>
    <% else %>
    <a href="<%= new_session_url %>">Login</a>
    <a href="<%= new_users_url %>">Sign up</a>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
